.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.router-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.public-page {
  flex: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
